<%-include('../../views/partials/admin/_header')%>



<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
            <!-- <p>Lorem ipsum dolor sit amet.</p> -->
        </div>
        <!-- <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white">
        </div> -->
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" id="search-bar" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-6 col-md-3">

                    <select class="form-select" id="status">
                        <option value="">Show all</option>
                        <option value="Pending">Pending</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Delivered">Delivered</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Returned">Returned</option>
                        <option value="Return-pending">Return-pending</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody id="t-body">
                        <tr>
                            <td>0901</td>
                            <td><b>Marvin McKinney</b></td>
                            <td>marvin@example.com</td>
                            <td>$9.00</td>
                            <td><span class="badge rounded-pill alert-warning">Pending</span></td>
                            <td>03.12.2022</td>
                            <td class="text-end">
                                <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">View detail</a>
                                        <a class="dropdown-item" href="#">Edit info</a>
                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                    </div>
                                </div> <!-- dropdown //end -->
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    
</section> <!-- content-main end// -->
<!-- Pagination -->


<script>

    let search = ""
    let status = ""
    function insertOrderDetails(orders){
        const parent = document.getElementById("t-body")

        parent.innerHTML = ""
        orders.forEach(order => {
            const child = document.createElement('tr')
            console.log("djk")
            child.innerHTML = `
                            <td>${order.orderId}</td>
                            <td><b>${order.user.name}</b></td>
                            <td>${order.user.email}</td>
                            <td>$9.00</td>
                            <td><span class="badge rounded-pill alert-warning">${order.status}</span></td>
                            <td>03.12.2022</td>
                            <td class="text-end">
                                <a href="/admin/order/${order._id}" class="btn btn-md rounded font-sm">Detail</a>
                            </td> `
            
            parent.appendChild(child)

        });
        console.log(document.getElementById("t-body"))

    }

    
    async function fetchOrderList (search="",status =""){
        const response = await fetch(`/admin/api/order?search=${search}&status=${status}`,{
            method:"GET",
            headers:{'Content-Type':"application/json"}
        })

        const jsonResponse = await response.json()

        if(response.ok){
            insertOrderDetails(jsonResponse.data)
            
        }else{

        }
    }

    function debounce(func,timer){
        let timeOut;
        return function(...args){
            clearTimeout(timeOut)
            timeOut = setTimeout(() => {
                func.apply(this,args)
            }, timer);
        }
    }


    const debouncedFetch = debounce(fetchOrderList,500)





    document.addEventListener("DOMContentLoaded",()=>{
        fetchOrderList()
        document.getElementById("search-bar").addEventListener('input',(e)=>{
            search = e.target.value.trim()
            debouncedFetch(search,status)
        })

        document.getElementById("status").addEventListener('input',(e)=>{
            status = e.target.value
            console.log(status)
            debouncedFetch(search,status)

        })


    })
</script>
<%-include('../../views/partials/admin/_footer')%>

