<%-include('../../views/partials/user/_header')%>




<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Stock Status</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody id="t-body">
                                
                                
                            </tbody>
                        </table>
                        <div id="empty-cart" hidden><p class="text-center"><small>your cart is empty</small></p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>





<script>

    function showAlert(icon,title,text){
        Swal.fire({
        title: title,
        text: text,
        icon: icon
        });
    }
    async function renderWishlistDetails(wishlist=[]) {
        const parent = document.getElementById("t-body")
        const emptyCart = document.getElementById("empty-cart")
        parent.innerHTML = ""
        console.log(wishlist)
        if(wishlist.length == 0){
                    
            emptyCart.removeAttribute("hidden");
            return
        }
        emptyCart.setAttribute("hidden","");

        wishlist.forEach(data => {
            const element = document.createElement('tr')
            // element.id =  

            element.innerHTML = `
                    <td class="image product-thumbnail"><img src="/uploads/products-images/${data.productImage[0]}" alt="#"></td>
                    <td class="product-des product-name">
                        <h5 class="product-name"><a href="shop-product-right.html">${data.productTitle}</a></h5>
                        
                    </td>
                    <td class="price" data-title="Price"><span>${data.salePrice}</span></td>
                    <td class="text-center" data-title="Stock">
                        <span class="color3 font-weight-bold">${data.status}</span>
                    </td>
                    <td class="text-right" data-title="Cart">
                        <button class="btn btn-sm" onClick="addToCart('${data._id}',this)"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                    </td>
                    <td class="action" data-title="Remove" onClick="removeFromWishlist('${data._id}',this)"><a href="#"><i class="fi-rs-trash"></i></a></td>
                
            `
            parent.appendChild(element)
        });

    };


    async  function fetchWishlistDetails(){

        const response = await fetch('/api/wishlist',{
            method:"GET",
            headers:{'Content-Type':'application/json'},
            
        })

        const jsonResponse = await response.json()

        if(response.ok){
            renderWishlistDetails(jsonResponse.wishlist)
        }else{
            // showAlert()
            renderWishlistDetails()

        }
    }

    async function addToCart(productId,element){
        const responce =await fetch('/cart/addToCart',{
            method:'POST',
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({
                productId:productId,
                quantity:1
            })
        })

        const jsonResponce = await responce.json()
        if(responce.ok){
            Swal.fire({
            title: "Good job!",
            text: jsonResponce.message,
            icon: "success"
            });
            element.parentElement.parentElement.remove()
        }else{
            Swal.fire({
            title: "Error",
            text: jsonResponce.message,
            icon: "error"
            });
        }
    }


    async function removeFromWishlist(productId,element) {
        const responce =await fetch('/api/wishlist/'+productId,{
            method:'DELETE',
            headers:{"Content-Type":"application/json"},
            
        })

        const jsonResponce = await responce.json()
        if(responce.ok){
            Swal.fire({
            title: "Good job!",
            text: jsonResponce.message,
            icon: "success"
            });
            element.parentElement.parentElement.remove()
        }else{
            Swal.fire({
            title: "Error",
            text: jsonResponce.error,
            icon: "error"
            });
        }
    }
    document.addEventListener('DOMContentLoaded',()=>{
        fetchWishlistDetails()
    })
</script>

<%-include('../../views/partials/user/_footer')%>
